td.true{
    background-color: #00C851;
}

td.false{
    background-color: #ff4444;
}

td img{
    float: left;
}
td p{
    margin: 0;
    margin-left: 35px;
}

table{
    table-layout: fixed ;
    width: 100%;
    border-collapse: collapse;
}

td, th{
    border: black 1px solid ;
}

th{
    text-align: left;
}
